.main {
  height: fit-content;
  /* max-width: 140rem; */
  margin: 0 auto;
  background-color: #f7f7f7;
  /* clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); */
}
.main-box {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8rem;
  padding: 5.2rem 5.2rem 4.8rem 5.2rem;
}
.main-content-box {
  padding: 2rem;
}
.main-heading {
  font-size: 6.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.main-description {
  font-size: 2rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 4.8rem;
}
