.attendance-img {
  height: 50rem;
}

.attendance-box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/attendanceImg.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  margin-bottom: 9.6rem;
}

.form__heading {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  font-weight: 300;
  text-align: center;
}

.section-attendance {
  padding: 4rem 4.8rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 50%;
  border-radius: 12px;
}
.form-group {
  margin-bottom: 2rem;
}

.attendance__button {
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  /* border: 0.1rem solid rgb(112, 107, 107); */
  color: #fff;
  background-color: #0f172a;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.attendance__label {
  font-size: 2rem;
  color: #0f172a;
  text-align: start;
  display: block;
  margin-bottom: 1.2rem;
  font-weight: 400;
  margin-left: 9rem;
  transition: all 0.3s;
}
.attendance__input {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-family: "inter", sans-serif;
  color: #343a40;
  width: 70%;
  margin-bottom: 1.6rem;
  outline: none;
}

.attendance__input:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0.8rem 1.6rem;
}
.hidden {
  display: none;
}

.attendance__checkbox {
  display: inline-block;
  margin-right: 36rem;
  height: 2.4rem;
  width: 2.4rem;
}

.success,
.error {
  font-size: 2rem;
  animation: moneinbottom 0.8s ease-out;
}
.modal-control {
  width: 24px;
  height: 24px;
}

@keyframes moneinbottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
