@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@400;500;700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "inter", sans-serif;
}

.boundary__error {
  background-color: #fb8500;
  width: 70rem;
  margin: 5.2rem auto;
  border-radius: 12px;
  padding: 2.4rem;
}
.error__message {
  font-size: 2rem;
  color: #fff;
  font-family: serif;
}
.error__button {
  padding: 1.2rem 2.4rem;
  font-weight: 600;
}
